*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: wheat;
    color: black;
    /* width: 100vh; */
    height: 100vh;
}
#dics_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
}
#all_data{
    margin-top: 10px;
}